In [1]:
import pandas as pd
import os

In [9]:
def concat_df_utf(df_name, usecols=None):
    df_return = pd.DataFrame()
    directory = os.fsencode("./Données")

    for file in os.listdir(directory):
        filename = os.fsdecode(file)
        if filename.startswith(df_name): 
            if filename.endswith("2021.csv") or filename.endswith("2020.csv") or filename.endswith("2019.csv"): 
                #print(filename)
                df = pd.read_csv(os.path.join("./Données", filename), 
                                 on_bad_lines='skip', sep = ";", usecols = usecols)
                #print(df.columns)
            else:
                df = pd.read_csv(os.path.join("./Données", filename), on_bad_lines='skip', usecols = usecols)


            df_return = pd.concat([df_return, df], ignore_index=True, join='outer')
    return df_return

             # print(os.path.join(directory, filename))

def concat_df_iso(df_name, usecols=None):
    df_return = pd.DataFrame()
    directory = os.fsencode("./Données")

    for file in os.listdir(directory):
        filename = os.fsdecode(file)
        if filename.startswith(df_name): 

            if filename.endswith("2021.csv") or filename.endswith("2020.csv") or filename.endswith("2019.csv"): 
                df = pd.read_csv(os.path.join("./Données", filename), on_bad_lines='skip', sep = ";",
                                 encoding = "ISO-8859-1", usecols = usecols)
            elif filename.endswith("2009.csv"):
                df = pd.read_csv(os.path.join("./Données", filename), 
                                 on_bad_lines='skip', sep = "\t", encoding = "ISO-8859-1", usecols = usecols)
            else:
                df = pd.read_csv(os.path.join("./Données", filename), on_bad_lines='skip', 
                                 encoding = "ISO-8859-1", usecols = usecols)


            df_return = pd.concat([df_return, df], ignore_index=True, join='outer')
    return df_return

             # print(os.path.join(directory, filename))

In [10]:
col = ['Num_Acc', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv',
       'vosp', 'prof', 'plan', 'larrout', 'surf', 'infra', 'situ']
lieux = concat_df_utf("lieux", usecols = col)

/var/folders/kf/rsvfsx611_3f7p2ctq98yhqm0000gn/T/ipykernel_41337/244463811.py:14: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join("./Données", filename), on_bad_lines='skip', usecols = usecols)
/var/folders/kf/rsvfsx611_3f7p2ctq98yhqm0000gn/T/ipykernel_41337/244463811.py:14: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join("./Données", filename), on_bad_lines='skip', usecols = usecols)
/var/folders/kf/rsvfsx611_3f7p2ctq98yhqm0000gn/T/ipykernel_41337/244463811.py:14: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join("./Données", filename), on_bad_lines='skip', usecols = usecols)

In [11]:
col = ['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'agg', 'adr', 'lat', 'long', "dep"]
caracteristiques = concat_df_iso("caracteristiques", usecols = col)

In [12]:
col = ['Num_Acc', 'grav']
usagers = concat_df_utf("usagers", usecols = col)
usagers.columns

Index(['Num_Acc', 'grav'], dtype='object')

In [13]:
col = ['Num_Acc', 'catv']
vehicules = concat_df_utf("vehicules", usecols = col)
vehicules.columns

Index(['Num_Acc', 'catv'], dtype='object')

In [14]:
from functools import reduce
df = reduce(lambda df1,df2: pd.merge(df1,df2,on='Num_Acc'), [caracteristiques, vehicules, usagers, lieux])

In [25]:
df["dep"] = df["dep"].replace(750,"75")

In [26]:
df.groupby("dep").count().sort_values(by="Num_Acc")

,Num_Acc,an,mois,jour,hrmn,agg,adr,lat,long,catv,...,v2,circ,nbv,vosp,prof,plan,larrout,surf,infra,situ
dep,,,,,,,,,,,,,,,,,,,,,
975,18,18,18,18,18,18,18,18,18,18,...,0,18,18,18,18,18,9,18,18,18
986,66,66,66,66,66,66,66,66,66,66,...,8,66,66,66,66,66,33,66,66,66
977,102,102,102,102,102,102,102,102,102,102,...,17,102,102,102,102,102,49,102,102,102
8,293,293,293,293,293,293,293,293,293,293,...,0,293,293,293,293,293,0,293,293,293
23,326,326,326,326,326,326,321,326,326,326,...,64,326,326,326,326,326,104,326,326,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,144151,144151,144151,144151,144151,144151,144133,19915,19915,144151,...,647,144093,143820,144070,144099,144099,138082,144083,144078,144117
940,148060,148060,148060,148060,148060,148060,147989,69435,69435,148060,...,7757,148038,147969,148005,148039,148041,140331,148041,147990,148048
930,167381,167381,167381,167381,167381,167381,167369,48543,48543,167381,...,3265,167299,167151,167194,167239,167263,159441,167208,167202,167201
130,263414,263414,263414,263414,263414,263414,248603,107769,107769,263414,...,53424,263091,262941,263087,263087,263075,249279,263091,262702,262709
75,396926,396926,396926,396926,396926,396926,396922,103812,103812,396926,...,222,396925,396237,396920,396922,396923,364808,396926,396923,396918

In [27]:
df_paris = df[df["dep"]=="75"]

In [28]:
df_paris.to_csv("df_acc_agg_paris")

In [30]:
df_paris.columns

Index(['Num_Acc', 'an', 'mois', 'jour', 'hrmn', 'agg', 'adr', 'lat', 'long',
       'dep', 'catv', 'grav', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv',
       'vosp', 'prof', 'plan', 'larrout', 'surf', 'infra', 'situ'],
      dtype='object')

In [31]:
df_paris

,Num_Acc,an,mois,jour,hrmn,agg,adr,lat,long,dep,...,v2,circ,nbv,vosp,prof,plan,larrout,surf,infra,situ
190615,201700046379,17,1,10,2350,1,A4,NaN,NaN,75,...,NaN,3.0,4.0,0.0,1.0,1.0,0.0,2.0,0.0,1.0
190616,201700046379,17,1,10,2350,1,A4,NaN,NaN,75,...,NaN,3.0,4.0,0.0,1.0,1.0,0.0,2.0,0.0,1.0
190617,201700046379,17,1,10,2350,1,A4,NaN,NaN,75,...,NaN,3.0,4.0,0.0,1.0,1.0,0.0,2.0,0.0,1.0
190804,201700046413,17,1,31,1600,1,A4,NaN,NaN,75,...,NaN,3.0,5.0,0.0,1.0,2.0,175.0,2.0,0.0,1.0
190805,201700046413,17,1,31,1600,1,A4,NaN,NaN,75,...,NaN,3.0,5.0,0.0,1.0,2.0,175.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4513955,202000047475,2020,5,21,13:00,2,RUE MANIN,"48,8814030","2,3807010",75,...,NaN,2.0,2.0,0.0,1.0,1.0,-1,1.0,0.0,1.0
4513956,202000047475,2020,5,21,13:00,2,RUE MANIN,"48,8814030","2,3807010",75,...,NaN,2.0,2.0,0.0,1.0,1.0,-1,1.0,0.0,1.0
4513957,202000047475,2020,5,21,13:00,2,RUE MANIN,"48,8814030","2,3807010",75,...,NaN,2.0,2.0,0.0,1.0,1.0,-1,1.0,0.0,1.0
4513966,202000047478,2020,5,21,00:15,2,BOULEVARD DE BELLEVILLE,"48,8676900","2,3821520",75,...,NaN,3.0,2.0,0.0,1.0,1.0,-1,1.0,6.0,4.0
4513982,202000047482,2020,5,21,00:55,2,AVENUE GENERAL LEMONNIER,"48,8613010","2,3303520",75,...,NaN,-1.0,1.0,0.0,2.0,1.0,-1,9.0,0.0,4.0